.descriptionDetails {
	overflow: hidden;
}

.descriptionDetails summary {
	display: block;
}

.descriptionDetails summary:hover {
	cursor: pointer;
}

.descriptionDetails summary::-webkit-details-market {
	display: none;
}

.descriptionDetails span {
	position: relative;
	display: flex;
	align-items: center;
}

.descriptionDetails span::before {
	content: "►";
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	transition: rotate 300ms 300ms ease-out;
}

.descriptionDetailsContent {
	box-sizing: border-box;
	max-height: 0;
	overflow: hidden;
	transition:
		max-height 300ms ease-out,
		border 0ms 300ms linear;
}

.descriptionDetails[open] + .descriptionDetailsContent {
	max-height: 800px;
	transition:
		max-height 300ms ease-out,
		border 0ms linear;
}

.descriptionDetails[open] span::before {
	rotate: 90deg;
	transition: rotate 300ms ease-out;
}

.seCostContainer {
	display: flex;
	flex-direction: row;
    gap: 50px;
}

@media (max-width: 800px) {
	.seCostContainer {
		display: flex;
		flex-direction: column;
	}
    
    .seCostTableContainer {
        font-size: 10px;
        margin-top: 20px;
    }
}
